@model IEnumerable<PlayForDays.Models.Sport>

@{
    ViewData["Title"] = "Sports";
}

<h1>Sports</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                <a href="#">Sport Name</a>
            </th>
            <th>
                <a href="#">Number of Players</a>
            </th>
            <th>
                <a href="#">Number of Teams</a>
            </th>
            <th>
                <a href="#">Equipment</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SportName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfPlayers)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfTeams)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipment)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SportId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SportId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SportId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
