@model IEnumerable<PlayForDays.Models.Player>

@{
    ViewData["Title"] = "Players";
}

<h1>Players</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table sortable">
    <thead>
        <tr>
            <th>
                <a href="#">First Name</a>
            </th>
            <th>
                <a href="#">Last Name</a>
            </th>
            <th>
                <a href="#">Skill Level</a>
            </th>
            <th>
                <a href="#">Height (in Inches)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SkillLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeightInInches)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlayerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlayerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlayerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
