@model IEnumerable<PlayForDays.Models.SportingEvent>

@{
    ViewData["Title"] = "Sporting Events";
}

<h1>Sporting Events</h1>
<!-- The SportingEvents view allows users to see the current Sporting Events in the database. The table can be sorted using the sorttable.js file.
    Each record allows for CRUD functionality. -->
<!-- Hide the create new button unless an admin -->
@if (User.IsInRole("Administrator"))
{
    <p>
        <a asp-action="Create">Create New Sporting Event</a>
    </p>
}
<table class="table sortable">
    <thead>
        <tr>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Name)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.StartTime)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.EndTime)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Address)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.City)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Province)</a>
            </th>
            <th>
                <a href="#">@Html.DisplayNameFor(model => model.Sport)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Province)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sport.SportName)
                </td>
                <td>
                    <!-- Always display details link but only display edit and delete for admins -->
                    <a asp-action="Details" asp-route-id="@item.SportingEventId">Details</a><br />
                    @if (User.IsInRole("Administrator"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.SportingEventId">Edit</a><br />
                        <a asp-action="Delete" asp-route-id="@item.SportingEventId">Delete</a>
                    }

                </td>

            </tr>
        }
    </tbody>
</table>
